body {
    /*font-family: 'helvetica neue';*/
    height: 100%;
}

#winner-animation {
    display: none;
    position: absolute;
    top: 0pc;
    z-index: 100;
}

#sad-face-animation {
    display: none;
    position: absolute;
    top: 0pc;
    z-index: 100;
}

.coffee-table-bg {
    background: url('../images/background.jpg')no-repeat center center fixed;
    background-size: cover;
}

#myNav {
    background-color: black;
}

#user-name {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}

#nav-links {
    margin-right: 20px;
}

#brand-icon {
    height: 27px;
    width: 27px;
    margin-top: -2px;
    margin-right: -15px;
    margin-left: 25px;
}

#nav-links a {
    color: white;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flip-container {
    perspective: 1000;
    margin: 9px 0;
}


/*.flip-container:hover .flipper,*/

.flip .flipper {
    transform: rotateY(180deg);
}


/*.flip-container:hover .flipper {
    transform: rotateY(180deg);
}*/

.flip-container,
.front,
.back {
    width: 200px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    font-size: 20px;
    border-radius: 15px;
}

.flipper {
    transition: .6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    background: white;
    border: 2px solid black;
}

.back {
    transform: rotateY(180deg);
    background: white;
    border: 2px solid black;
}

.front-black {
    background: black;
    border: 2px solid black;
    color: white;
}

.back-black {
    background: black;
    border: 2px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.front p {
    line-height: 1em;
    margin-top: 70px;
    text-align: left;
    margin-left: 20px;
    /*font-family: helvetica neue;*/
    font-weight: bold;
    font-size: 1.7em;
}

.back p {
    font-size: .9em;
    line-height: 1.2em;
    margin-top: 15px;
    text-align: left;
    margin-left: 20px;
    margin-right: 15px;
    /*font-family: 'helvetica neue';*/
    font-weight: bold;
}

p.shBtn {
    position: absolute;
    bottom: 18px;
    left: 41px;
    font-weight: 400;
    font-size: 16px;
    margin: auto;
    display: none;
}

.white-text {
    text-decoration: underline;
    font-style: italic;
    font-weight: 300;
}

.black-card-name {
    padding: 6px 23px;
    background-color: grey;
    border-radius: 20px;
    font-weight: 300 !important;
    font-size: .8em !important;
    display: none;
}

#right-height {
    min-height: 525px;
}

#player-well {
    height: 250px;
    border: 2px solid black;
    background-color: #e5e5e5;
}

#players {
    margin-top: 10px;
}

#loading-gif {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
}

#loading-gif img {
    width: 15%;
}


/* CHAT */

#global-chat {
    height: 525px;
}

#chat-well {
    height: 100%;
    border: 2px solid black;
    background-color: #e5e5e5;
}

#chat-display {
    height: 100%;
}

.chat-window {
    bottom: 0;
    position: fixed;
    float: right;
    margin-left: 10px;
}

.chat-window > div > .panel {
    border-radius: 5px 5px 0 0;
}

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    height: 306px;
    overflow-x: hidden;
}

.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
}

.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages > time {
    font-size: 11px;
    color: #ccc;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.avatar img {
    display: block;
    width: 100%;
}

.avatar {
    position: relative;
}

.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time {
    float: right;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

#results-chat-body {
    /*height: 206px;*/
}

.urbantip {
    position: relative;
    display: block;
    color: blue;
    margin-top: 3px;
    font-size: .8em;
}

.urbantip .tooltiptext {
    display: none;
    width: 280px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    top: -27px;
    right: 102%;
    margin-left: -140px;
    position: absolute;
    z-index: 3;
}

.urbantip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -10px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

#urbanDict,
#pearsonDict {
    cursor: pointer;
}

#urbanDict:hover,
#pearsonDict:hover {
    color: red;
}


/* loader */

.loading {
    text-align: center;
    /*width: 20%;*/
    height: 80px;
    margin: 0 auto;
}

.loading span {
    -webkit-animation: loading 1s infinite alternate;
    background: #333;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    margin: 60px auto;
    width: 10px;
}

.loading span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    background: #444;
}

.loading span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    background: #555;
}

.loading span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    background: #666;
}

.loading span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    background: #777;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translatey(0);
        height: 10px;
        width: 10px;
    }
    100% {
        -webkit-transform: translatey(-40px);
        height: 20px;
        width: 20px;
    }
}

.hide-create {
    display: none;
}

#forceStart {
    display: none;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 70px;
    /* Location of the box */
    left: 0;
    top: 0;
    /*width: 100%;  Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: transparent;
    /*margin: auto;*/
    padding: 0;
    border: none;
    /*width: 85%;*/
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#game-results,
#results-chat {
    padding: 0;
    margin-right: 20px;
}

.quit-btn {
    padding: 15px
}

#endModal {
    z-index: 3;
    padding-top: 8px;
}

.modal-header {
    padding: 2px 16px;
    color: white;
    background-color: #5cb85c;
    margin-bottom: 40px;
}

#winner {
    display: none;
}

#loser {
    /*display: none;*/
    background-color: red;
}

.blur {
    filter: blur(6px);
}

.no-blur {
    filter: blur(0px);
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#selectedBlack div .flip-container {
    overflow-y: auto;
    background: black;
}

.glow {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@-moz-keyframes neon {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de;
    }
}

@-webkit-keyframes neon {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de;
    }
}

@keyframes neon {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de;
    }
}


/*quit game confirmation*/

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    z-index: 2;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-container p {
    padding: 3em 1em;
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style-type: none;
}

ul.cd-buttons {
    padding: 0;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}
